Package: @@NAME@@
Version: @@VERSION@@
Section: devel
Depends: @@DEPENDS@@
Recommends: @@RECOMMENDS@@
Priority: optional
Architecture: @@ARCHITECTURE@@
Maintainer: SimuCorps <https://simucorps.org>
Installed-Size: @@INSTALLEDSIZE@@
Description: Bare-metal code editing. Nothing extra.
 BareMTL is a minimal, lightweight code editor built from Code - OSS, with AI features, telemetry and other extras removed.
